<ion-header>
  <ion-toolbar>
    <ion-title>sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <ion-list>
      <ion-item>
        <ion-label position="stacked">Full Name</ion-label>

        <ion-input formControlName="name" type="text" >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input formControlName="email" type="text">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Username</ion-label>
        <ion-input formControlName="username" type="text">
        </ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input formControlName="password" type="text">
        </ion-input>
      </ion-item>

    </ion-list>

    <ion-row class="signin">
      <ion-col>
        <ion-button type="submit"  color="primary" shape="full" expand="block">Submit</ion-button>
      </ion-col>
    </ion-row>

  </form></ion-content>

